body{
    margin: 60px;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(7, 185, 7);
}

/*LIst style*/
ul li{
   list-style: none;
   font-size: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100px;
   width: 600px;
   box-shadow: 1px 5px 20px rgba(0, 0, 0.25);
   margin-top: 30px;
   border-radius: 10px;
}

button{
    margin-left: 50px;
    color: rgb(7, 185, 7);
    border-color: rgb(7, 185, 7);
    border-style: solid;
    height: 30px;
    width: 30px;
    font-weight: bold;
    font-size: 25px;
}

#btn1{
    margin-left: 12px;
}

#btn2{
    margin-left: 120px;
}

#btn3{
    margin-left: 100px;
}

